<?php
return array(
    'modules' => array(
        'MCNElasticSearch',
    ),
    'module_listener_options' => array(
        'config_glob_paths'    => array(
            __DIR__ . '/test.config.php'
        ),
        'module_paths' => array(
        ),
    ),
);
